# Tâche 133 explo desing : nombre de paramètre testés par UDI

In [215]:
# import packages
import pandas as pd
import duckdb

pd.set_option("display.max_columns", None)
pd.set_option("display.max_colwidth", None)
pd.set_option("display.expand_frame_repr",False)

In [4]:
import pipelines.tasks.config.common as config
print(dir(config))

['CACHE_FOLDER', 'DATABASE_FOLDER', 'DUCKDB_FILE', 'Path', 'ROOT_FOLDER', 'Union', 'ZipFile', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'clear_cache', 'download_file_from_https', 'extract_file', 'logger', 'logging', 'os', 'requests', 'shutil', 'tqdm', 'tqdm_common']

In [7]:
from pipelines.tasks.config.common import DUCKDB_FILE, DATABASE_FOLDER, CACHE_FOLDER, ROOT_FOLDER

print("DUCKDB_FILE:", DUCKDB_FILE)
print("DATABASE_FOLDER:", DATABASE_FOLDER)
print("CACHE_FOLDER:", CACHE_FOLDER)
print("ROOT_FOLDER:", ROOT_FOLDER)

DUCKDB_FILE: C:\Users\a\desktop\13_pollution_eau\database\data.duckdb
DATABASE_FOLDER: C:\Users\a\desktop\13_pollution_eau\database
CACHE_FOLDER: C:\Users\a\desktop\13_pollution_eau\database\cache
ROOT_FOLDER: C:\Users\a\desktop\13_pollution_eau

In [147]:
# connect database
from pipelines.tasks.config.common import DUCKDB_FILE
con = duckdb.connect(database=DUCKDB_FILE, read_only=True)

In [148]:
# Liste des tables
db_tables = con.sql("SHOW TABLES").df() # Afficher le DataFrame 
print(db_tables)

               name
0      cog_communes
1      edc_communes
2  edc_prelevements
3     edc_resultats
4  laposte_communes

In [164]:
#explo table edc_communes
edc_communes = con.execute("SELECT * FROM edc_communes LIMIT 5").fetchdf()
edc_communes

  inseecommune                  nomcommune              quartier   cdreseau                       nomreseau  debutalim  de_partition de_ingestion_date de_dataset_datetime
0        01001  ABERGEMENT-CLEMENCIAT (L')                     -  001000556        BDS ST DIDIER/CHALARONNE 2010-09-07          2024        2025-02-28     20250203-075802
1        01002    ABERGEMENT-DE-VAREY (L')                     -  001000369           L'ABERGEMENT-DE-VAREY 2010-09-07          2024        2025-02-28     20250203-075802
2        01004           AMBERIEU-EN-BUGEY             Vareilles  001000248              AMBERIEU VAREILLES 2010-09-07          2024        2025-02-28     20250203-075802
3        01004           AMBERIEU-EN-BUGEY  St Germain_Brédevent  001000249  AMBERIEU SAINT GERMAIN DOUVRES 2010-09-07          2024        2025-02-28     20250203-075802
4        01004           AMBERIEU-EN-BUGEY                 ville  001000251                  AMBERIEU VILLE 2010-09-07          2024        2025-02-28     20250203-075802

In [365]:
#explo table edc_prelevements
edc_prelevements = con.execute("SELECT * FROM edc_prelevements LIMIT 5").fetchdf()
edc_prelevements

,cddept,cdreseau,inseecommuneprinc,nomcommuneprinc,cdreseauamont,nomreseauamont,pourcentdebit,referenceprel,dateprel,heureprel,conclusionprel,ugelib,distrlib,moalib,plvconformitebacterio,plvconformitechimique,plvconformitereferencebact,plvconformitereferencechim,de_partition,de_ingestion_date,de_dataset_datetime
0,001,001000003,01007,AMBRONAY,None,None,None,00100139034,2024-01-23,11h27,Eau d'alimentation conforme aux limites de qualité et non conforme aux références de qualité.,SYND. EAUX REGION D'AMBERIEU-EN-B,SERA - SYNDICAT DES EAUX DE LA REGION D'AMBERIEU-EN-BUGEY,SERA - SYNDICAT DES EAUX DE LA REGION D'AMBERIEU-EN-BUGEY,C,C,N,C,2024,2025-02-28,20250203-075802
1,001,001000003,01007,AMBRONAY,None,None,None,00100139393,2024-02-13,12h49,Eau d'alimentation conforme aux exigences de qualité en vigueur pour l'ensemble des paramètres mesurés.,SYND. EAUX REGION D'AMBERIEU-EN-B,SERA - SYNDICAT DES EAUX DE LA REGION D'AMBERIEU-EN-BUGEY,SERA - SYNDICAT DES EAUX DE LA REGION D'AMBERIEU-EN-BUGEY,C,C,C,C,2024,2025-02-28,20250203-075802
2,001,001000003,01007,AMBRONAY,001001304,TTP (CLG) AMBRONAY,100 %,00100139969,2024-03-13,10h46,Eau d'alimentation conforme aux exigences de qualité en vigueur pour l'ensemble des paramètres mesurés.,SYND. EAUX REGION D'AMBERIEU-EN-B,SERA - SYNDICAT DES EAUX DE LA REGION D'AMBERIEU-EN-BUGEY,SERA - SYNDICAT DES EAUX DE LA REGION D'AMBERIEU-EN-BUGEY,C,C,C,C,2024,2025-02-28,20250203-075802
3,001,001000003,01007,AMBRONAY,None,None,None,00100140209,2024-04-05,07h27,Eau d'alimentation conforme aux exigences de qualité en vigueur pour l'ensemble des paramètres mesurés.,SYND. EAUX REGION D'AMBERIEU-EN-B,SERA - SYNDICAT DES EAUX DE LA REGION D'AMBERIEU-EN-BUGEY,SERA - SYNDICAT DES EAUX DE LA REGION D'AMBERIEU-EN-BUGEY,C,C,C,C,2024,2025-02-28,20250203-075802
4,001,001000003,01007,AMBRONAY,None,None,None,00100140543,2024-05-13,12h43,Eau d'alimentation conforme aux exigences de qualité en vigueur pour l'ensemble des paramètres mesurés.,SYND. EAUX REGION D'AMBERIEU-EN-B,SERA - SYNDICAT DES EAUX DE LA REGION D'AMBERIEU-EN-BUGEY,SERA - SYNDICAT DES EAUX DE LA REGION D'AMBERIEU-EN-BUGEY,C,C,C,C,2024,2025-02-28,20250203-075802

In [166]:
#explo table edc_resultats
edc_resultats = con.execute("SELECT * FROM edc_resultats LIMIT 5").fetchdf()
edc_resultats

  cddept referenceprel cdparametresiseeaux  cdparametre       libmajparametre       libminparametre libwebparametre qualitparam insituana          rqana cdunitereferencesiseeaux cdunitereference limitequal     refqual  valtraduite   casparam referenceanl  de_partition de_ingestion_date de_dataset_datetime
0    001   00100138503             ALTMICR         1370  ALUMINIUM TOTAL µG/L  Aluminium total µg/l            None           N         L            <10                     µg/L              133       None  <=200 µg/L         0.00  7429-90-5  00100147233          2024        2025-02-28     20250203-075802
1    001   00100138503                 ASP         6489   ASPECT (QUALITATIF)   Aspect (qualitatif)            None           O         L  Aspect normal               SANS OBJET                X       None        None         0.00       None  00100147232          2024        2025-02-28     20250203-075802
2    001   00100138503                 ASP         6489   ASPECT (QUALITATIF)   Aspect (qualitatif)            None           O         L  Aspect normal               SANS OBJET                X       None        None         0.00       None  00100147233          2024        2025-02-28     20250203-075802
3    001   00100138503              CL2LIB         1398          CHLORE LIBRE          Chlore libre            None           N         T           0,30                mg(Cl2)/L              165       None        None         0.30       None         None          2024        2025-02-28     20250203-075802
4    001   00100138503              CL2TOT         1399          CHLORE TOTAL          Chlore total            None           N         T           0,34                mg(Cl2)/L              165       None        None         0.34       None         None          2024        2025-02-28     20250203-075802

In [219]:
#nombre de résultat par prélèvement
resultat_par_prelev = con.execute("SELECT referenceprel, COUNT(cdparametre) AS nbresult FROM edc_resultats GROUP BY referenceprel").fetchdf()
resultat_par_prelev

       referenceprel  nbresult
0        00200201046        17
1        00200201058        42
2        00200201059        42
3        00200201069        25
4        00200201224        21
...              ...       ...
287956   97400137947        28
287957   97400137974        20
287958   97400137979        21
287959   97400137989       174
287960   97400138051        20

[287961 rows x 2 columns]

**==> Le résultat est préseneté par paramètre donc un prélèvement peut correpsondre à plusieurs résultat**

In [193]:
#query prélèvement unique
prelevements_and_result = con.sql("SELECT DISTINCT referenceprel FROM edc_prelevements").fetchdf()
prelevements_and_result

       referenceprel
0        00100139797
1        00100140455
2        00100141640
3        00100139368
4        00100142177
...              ...
287956   07800244249
287957   07800244663
287958   07800242372
287959   07800237814
287960   07800241254

[287961 rows x 1 columns]

In [313]:
#same query as above
query_result = """
WITH
PREV_RESULT AS (
    SELECT DISTINCT referenceprel 
    FROM edc_prelevements)
SELECT * FROM PREV_RESULT
"""
prelevements_and_result2 = con.sql(query_result).df()
prelevements_and_result2

       referenceprel
0        07800241604
1        07800241747
2        07800241765
3        07800241876
4        07800241898
...              ...
287956   05500121167
287957   05500121678
287958   05500122544
287959   05500119215
287960   05500119946

[287961 rows x 1 columns]

In [195]:
# Nombre de ligne du table prélévement
prelevements_count = con.sql("SELECT COUNT(*) FROM edc_prelevements").fetchdf()
prelevements_count

   count_star()
0        416128

In [251]:
#verif prélèvement plus de 1 (ie sur
query = """
SELECT referenceprel, COUNT(referenceprel) AS nbprel
FROM edc_resultats
GROUP BY referenceprel
HAVING nbprel>1
"""

prelevements_nb = con.sql(query).fetchdf()
prelevements_nb

       referenceprel  nbprel
0        00500130944      22
1        00500130951      47
2        00500130961      22
3        00500130973      47
4        00500131021      22
...              ...     ...
284515   97400140702      20
284516   97400140710      17
284517   97600031270      24
284518   97600031316      24
284519   97600032305      29

[284520 rows x 2 columns]

In [314]:
#07800244703
query_plv = """
SELECT *
FROM edc_prelevements
WHERE referenceprel = '07800244703'

"""
prelèvement_plus_de_un =con.sql(query_plv).fetchdf()
prelèvement_plus_de_un

,cddept,cdreseau,inseecommuneprinc,nomcommuneprinc,cdreseauamont,nomreseauamont,pourcentdebit,referenceprel,dateprel,heureprel,conclusionprel,ugelib,distrlib,moalib,plvconformitebacterio,plvconformitechimique,plvconformitereferencebact,plvconformitereferencechim,de_partition,de_ingestion_date,de_dataset_datetime
0,078,078000392,78481,PECQ (LE),078000693,USINES CROISSY ET PECQ,90 %,07800244703,2024-12-30,09h28,Eau d'alimentation conforme aux exigences de qualité en vigueur pour l'ensemble des paramètres mesurés.,USINES DE CROISSY ET DU PECQ,SUEZ EAU FRANCE,SUEZ EAU FRANCE,C,C,C,C,2024,2025-02-28,20250203-075802
1,078,078000399,78481,PECQ (LE),078000693,USINES CROISSY ET PECQ,100 %,07800244703,2024-12-30,09h28,Eau d'alimentation conforme aux exigences de qualité en vigueur pour l'ensemble des paramètres mesurés.,USINES DE CROISSY ET DU PECQ,SUEZ EAU FRANCE,SUEZ EAU FRANCE,C,C,C,C,2024,2025-02-28,20250203-075802
2,078,078000405,78481,PECQ (LE),078000693,USINES CROISSY ET PECQ,100 %,07800244703,2024-12-30,09h28,Eau d'alimentation conforme aux exigences de qualité en vigueur pour l'ensemble des paramètres mesurés.,USINES DE CROISSY ET DU PECQ,SUEZ EAU FRANCE,SUEZ EAU FRANCE,C,C,C,C,2024,2025-02-28,20250203-075802
3,078,078000414,78481,PECQ (LE),078000693,USINES CROISSY ET PECQ,100 %,07800244703,2024-12-30,09h28,Eau d'alimentation conforme aux exigences de qualité en vigueur pour l'ensemble des paramètres mesurés.,USINES DE CROISSY ET DU PECQ,SUEZ EAU FRANCE,SUEZ EAU FRANCE,C,C,C,C,2024,2025-02-28,20250203-075802
4,078,078000483,78481,PECQ (LE),078000693,USINES CROISSY ET PECQ,100 %,07800244703,2024-12-30,09h28,Eau d'alimentation conforme aux exigences de qualité en vigueur pour l'ensemble des paramètres mesurés.,USINES DE CROISSY ET DU PECQ,SUEZ EAU FRANCE,SUEZ EAU FRANCE,C,C,C,C,2024,2025-02-28,20250203-075802
5,078,078000490,78481,PECQ (LE),078000693,USINES CROISSY ET PECQ,90 %,07800244703,2024-12-30,09h28,Eau d'alimentation conforme aux exigences de qualité en vigueur pour l'ensemble des paramètres mesurés.,USINES DE CROISSY ET DU PECQ,SUEZ EAU FRANCE,SUEZ EAU FRANCE,C,C,C,C,2024,2025-02-28,20250203-075802
6,078,078000497,78481,PECQ (LE),078000693,USINES CROISSY ET PECQ,100 %,07800244703,2024-12-30,09h28,Eau d'alimentation conforme aux exigences de qualité en vigueur pour l'ensemble des paramètres mesurés.,USINES DE CROISSY ET DU PECQ,SUEZ EAU FRANCE,SUEZ EAU FRANCE,C,C,C,C,2024,2025-02-28,20250203-075802
7,078,078000517,78481,PECQ (LE),078000693,USINES CROISSY ET PECQ,60 %,07800244703,2024-12-30,09h28,Eau d'alimentation conforme aux exigences de qualité en vigueur pour l'ensemble des paramètres mesurés.,USINES DE CROISSY ET DU PECQ,SUEZ EAU FRANCE,SUEZ EAU FRANCE,C,C,C,C,2024,2025-02-28,20250203-075802
8,078,078000545,78481,PECQ (LE),078000693,USINES CROISSY ET PECQ,100 %,07800244703,2024-12-30,09h28,Eau d'alimentation conforme aux exigences de qualité en vigueur pour l'ensemble des paramètres mesurés.,USINES DE CROISSY ET DU PECQ,SUEZ EAU FRANCE,SUEZ EAU FRANCE,C,C,C,C,2024,2025-02-28,20250203-075802
9,078,078000577,78481,PECQ (LE),078000693,USINES CROISSY ET PECQ,10 %,07800244703,2024-12-30,09h28,Eau d'alimentation conforme aux exigences de qualité en vigueur pour l'ensemble des paramètres mesurés.,USINES DE CROISSY ET DU PECQ,SUEZ EAU FRANCE,SUEZ EAU FRANCE,C,C,C,C,2024,2025-02-28,20250203-075802

In [318]:
# verif cdreseau unique dans edc_prelevements
query2 = """
SELECT DISTINCT cdreseau, COUNT(cdreseau) AS nbreseau
FROM edc_prelevements 
GROUP BY cdreseau  ;
"""
prelevements_nb = con.sql(query2).fetchdf()
prelevements_nb

        cdreseau  nbreseau
0      030000249        29
1      030000296        15
2      030000314        10
3      030000440         7
4      030000445         5
...          ...       ...
23179  030000028        12
23180  030000047        15
23181  030000152         4
23182  030000164        12
23183  030000190         6

[23184 rows x 2 columns]

In [317]:
#verif cdreseau nfois dans la table
#02B002749
query_plv = """
SELECT *
FROM edc_prelevements
WHERE cdreseau = '02B002749'

"""
prelèvement_plus_de_un =con.sql(query_plv).fetchdf()
prelèvement_plus_de_un

,cddept,cdreseau,inseecommuneprinc,nomcommuneprinc,cdreseauamont,nomreseauamont,pourcentdebit,referenceprel,dateprel,heureprel,conclusionprel,ugelib,distrlib,moalib,plvconformitebacterio,plvconformitechimique,plvconformitereferencebact,plvconformitereferencechim,de_partition,de_ingestion_date,de_dataset_datetime
0,02B,02B002749,2B143,LINGUIZZETTA,02B000937,RES LINGUIZZETTA,100 %,02B00114205,2024-03-07,11h50,Eau d'alimentation conforme aux exigences de qualité en vigueur pour l'ensemble des paramètres mesurés.,SI LINGUIZZETTA,KYRNOLIA,SI LINGUIZETTA,C,C,C,C,2024,2025-02-28,20250203-075802
1,02B,02B002749,2B303,SAN-GIULIANO,None,None,None,02B00114206,2024-04-16,10h20,Eau d'alimentation conforme aux exigences de qualité en vigueur pour l'ensemble des paramètres mesurés.,SI LINGUIZZETTA,KYRNOLIA,SI LINGUIZETTA,C,C,C,C,2024,2025-02-28,20250203-075802
2,02B,02B002749,2B143,LINGUIZZETTA,02B000937,RES LINGUIZZETTA,100 %,02B00115321,2024-05-14,09h20,Eau d'alimentation conforme aux exigences de qualité en vigueur pour l'ensemble des paramètres mesurés.,SI LINGUIZZETTA,KYRNOLIA,SI LINGUIZETTA,C,C,C,C,2024,2025-02-28,20250203-075802
3,02B,02B002749,2B303,SAN-GIULIANO,None,None,None,02B00115322,2024-06-03,10h00,Eau d'alimentation conforme aux exigences de qualité en vigueur pour l'ensemble des paramètres mesurés.,SI LINGUIZZETTA,KYRNOLIA,SI LINGUIZETTA,C,C,C,C,2024,2025-02-28,20250203-075802
4,02B,02B002749,2B303,SAN-GIULIANO,None,None,None,02B00116558,2024-12-02,11h50,Eau d'alimentation conforme aux exigences de qualité en vigueur pour l'ensemble des paramètres mesurés.,SI LINGUIZZETTA,KYRNOLIA,SI LINGUIZETTA,C,C,C,C,2024,2025-02-28,20250203-075802

==> La table edc_prelevements contient les prélèvements mensuels de chaque udi.  
On va prendre le max de date de prélévement pour afficher le dernier prélévement de chaque UDI

In [324]:
#query du plus récent prélèvement
query_max_prel = """

SELECT CONCAT(referenceprel,'-',dateprel) AS cdplv, referenceprel, dateprel 
FROM (
SELECT referenceprel, MAX(dateprel) AS dateprel
FROM edc_prelevements
GROUP BY referenceprel)

"""
dernier_plv =con.sql(query_max_prel).fetchdf()
dernier_plv

#nbreseau = dernier_plv['referenceprel'].nunique()
#nbreseau

                         cdplv referenceprel   dateprel
0       07800241690-2024-07-22   07800241690 2024-07-22
1       07800241758-2024-07-11   07800241758 2024-07-11
2       07800241872-2024-08-05   07800241872 2024-08-05
3       07800242275-2024-08-28   07800242275 2024-08-28
4       07800243107-2024-09-17   07800243107 2024-09-17
...                        ...           ...        ...
287956  05500120544-2024-05-31   05500120544 2024-05-31
287957  05500120677-2024-06-17   05500120677 2024-06-17
287958  05500120338-2024-05-15   05500120338 2024-05-15
287959  05500121865-2024-10-25   05500121865 2024-10-25
287960  05500122480-2024-12-20   05500122480 2024-12-20

[287961 rows x 3 columns]

cddept	cdreseau	inseecommuneprinc	nomcommuneprinc	cdreseauamont	nomreseauamont	pourcentdebit	referenceprel	dateprel	heureprel	conclusionprel

In [363]:
#creation de clé unique dans table edc_prélèvement (cdplv = referenceprel-dateprel)
query_unique_plv = """
SELECT CONCAT(referenceprel,'-',dateprel) AS cdplv, cdreseau,inseecommuneprinc, nomcommuneprinc, cdreseauamont, nomreseauamont, referenceprel, dateprel
FROM edc_prelevements
WHERE referenceprel IN (SELECT referenceprel
    FROM edc_prelevements
    GROUP BY referenceprel
    HAVING COUNT(referenceprel) > 1)
ORDER BY referenceprel, dateprel
"""
unique_plv =con.sql(query_unique_plv).fetchdf()
unique_plv

,cdplv,cdreseau,inseecommuneprinc,nomcommuneprinc,cdreseauamont,nomreseauamont,referenceprel,dateprel
0,00100138870-2024-01-18,001000487,01032,BELIGNEUX,None,None,00100138870,2024-01-18
1,00100138870-2024-01-18,001000488,01032,BELIGNEUX,001000487,BELIGNEUX LA VALBONNE,00100138870,2024-01-18
2,00100138874-2024-01-18,001000761,01049,BOISSE (LA),None,None,00100138874,2024-01-18
3,00100138874-2024-01-18,001000763,01049,BOISSE (LA),001000761,LA BOISSE BAS SERVICE,00100138874,2024-01-18
4,00100138878-2024-01-23,001001028,01033,VALSERHONE,001001029,CHATILLON BAS SERVICE,00100138878,2024-01-23
...,...,...,...,...,...,...,...,...
187216,97600032307-2024-11-05,976000066,97611,MAMOUDZOU,976000053,UP MAMOUDZOU,97600032307,2024-11-05
187217,97600032332-2024-11-12,976000058,97611,MAMOUDZOU,976000051,STATION MAJIKAVO,97600032332,2024-11-12
187218,97600032332-2024-11-12,976000068,97611,MAMOUDZOU,976000051,STATION MAJIKAVO,97600032332,2024-11-12
187219,97600032333-2024-11-12,976000058,97611,MAMOUDZOU,976000053,UP MAMOUDZOU,97600032333,2024-11-12
187220,97600032333-2024-11-12,976000066,97611,MAMOUDZOU,976000053,UP MAMOUDZOU,97600032333,2024-11-12

In [359]:
#max prélèvement unique avec autres colonnes
query_unique_max_plv_allcol = """
WITH unique_recent_plv AS (
SELECT CONCAT(referenceprel,'-',dateprel) AS cdplv, referenceprel, dateprel 
FROM (
SELECT referenceprel, MAX(dateprel) AS dateprel
FROM edc_prelevements
GROUP BY referenceprel)) ,

edc_prelevements_cdplv AS (
SELECT CONCAT(referenceprel,'-',dateprel) AS cdplv, cdreseau,inseecommuneprinc, nomcommuneprinc, cdreseauamont, nomreseauamont, referenceprel, dateprel
FROM edc_prelevements)



SELECT  cdplv
FROM edc_prelevements_cdplv
WHERE cdplv IN (SELECT cdplv FROM unique_recent_plv )


"""
edc_plv_unique = con.sql(query_unique_max_plv_allcol).fetchdf()
edc_plv_unique

                         cdplv
0       07800241428-2024-07-08
1       07800241573-2024-07-15
2       07800241604-2024-07-16
3       07800241687-2024-07-10
4       07800241688-2024-07-17
...                        ...
416123  07800241290-2024-07-01
416124  07800241309-2024-07-02
416125  07800241320-2024-07-03
416126  07800241342-2024-06-07
416127  07800241343-2024-06-12

[416128 rows x 1 columns]

In [288]:
WITH UNIQUE_PLV AS (
SELECT CONCAT(referenceprel,'-',dateprel) AS cdplv, cdreseau,inseecommuneprinc, nomcommuneprinc, cdreseauamont, nomreseauamont, referenceprel, dateprel
FROM edc_prelevements) 

SELECT cdplv, cdreseau, inseecommuneprinc, nomcommuneprinc, cdreseauamont, nomreseauamont, referenceprel, dateprel
FROM UNIQUE_PLV
WHERE cdplv IN (SELECT cdplv 
                FROM UNIQUE_MAX_PLV)




query = """
WITH UNIQUE_PLV AS (
SELECT CONCAT(referenceprel,'-',dateprel) AS cdplv, cdreseau,inseecommuneprinc, nomcommuneprinc, cdreseauamont, nomreseauamont, referenceprel, dateprel
FROM edc_prelevements) 

SELECT * FROM UNIQUE_PLV LIMIT 10
"""
pd = con.sql(query)
pd

┌────────────────────────┬───────────┬───────────────────┬─────────────────┬───────────────┬────────────────────┬───────────────┬────────────┐
│         cdplv          │ cdreseau  │ inseecommuneprinc │ nomcommuneprinc │ cdreseauamont │   nomreseauamont   │ referenceprel │  dateprel  │
│        varchar         │  varchar  │      varchar      │     varchar     │    varchar    │      varchar       │    varchar    │    date    │
├────────────────────────┼───────────┼───────────────────┼─────────────────┼───────────────┼────────────────────┼───────────────┼────────────┤
│ 00100139034-2024-01-23 │ 001000003 │ 01007             │ AMBRONAY        │ NULL          │ NULL               │ 00100139034   │ 2024-01-23 │
│ 00100139393-2024-02-13 │ 001000003 │ 01007             │ AMBRONAY        │ NULL          │ NULL               │ 00100139393   │ 2024-02-13 │
│ 00100139969-2024-03-13 │ 001000003 │ 01007             │ AMBRONAY        │ 001001304     │ TTP (CLG) AMBRONAY │ 00100139969   │ 2024-03-13 │
│ 00100140209-2024-04-05 │ 001000003 │ 01007             │ AMBRONAY        │ NULL          │ NULL               │ 00100140209   │ 2024-04-05 │
│ 00100140543-2024-05-13 │ 001000003 │ 01007             │ AMBRONAY        │ NULL          │ NULL               │ 00100140543   │ 2024-05-13 │
│ 00100140886-2024-06-11 │ 001000003 │ 01007             │ AMBRONAY        │ NULL          │ NULL               │ 00100140886   │ 2024-06-11 │
│ 00100141254-2024-07-08 │ 001000003 │ 01007             │ AMBRONAY        │ 001001304     │ TTP (CLG) AMBRONAY │ 00100141254   │ 2024-07-08 │
│ 00100141669-2024-08-20 │ 001000003 │ 01007             │ AMBRONAY        │ NULL          │ NULL               │ 00100141669   │ 2024-08-20 │
│ 00100142143-2024-09-11 │ 001000003 │ 01007             │ AMBRONAY        │ NULL          │ NULL               │ 00100142143   │ 2024-09-11 │
│ 00100142530-2024-10-18 │ 001000003 │ 01007             │ AMBRONAY        │ NULL          │ NULL               │ 00100142530   │ 2024-10-18 │
├────────────────────────┴───────────┴───────────────────┴─────────────────┴───────────────┴────────────────────┴───────────────┴────────────┤
│ 10 rows                                                                                                                          8 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [232]:
query_join = """
SELECT edc_prelevements.cdreseau, edc_prelevements.referenceprel, edc_prelevements.de_ingestion_date,edc_prelevements.inseecommuneprinc, edc_prelevements.cdreseauamont, edc_prelevements.nomreseauamont, result_per_prel.nbresult
FROM edc_prelevements
LEFT JOIN (SELECT referenceprel, COUNT(cdparametre) AS nbresult 
            FROM edc_resultats 
            GROUP BY referenceprel) AS result_per_prel
ON edc_prelevements.referenceprel = result_per_prel.referenceprel
WHERE cdreseau = '001000003'
ORDER BY edc_prelevements.cdreseau
"""

resultat_par_plv = con.sql(query_join).df()
resultat_par_plv

,cdreseau,referenceprel,de_ingestion_date,inseecommuneprinc,cdreseauamont,nomreseauamont,nbresult
0,001000003,00100141669,2025-02-28,01007,None,None,21
1,001000003,00100142143,2025-02-28,01007,None,None,21
2,001000003,00100143574,2025-02-28,01007,001001304,TTP (CLG) AMBRONAY,28
3,001000003,00100141254,2025-02-28,01007,001001304,TTP (CLG) AMBRONAY,28
4,001000003,00100140543,2025-02-28,01007,None,None,21
5,001000003,00100142530,2025-02-28,01007,None,None,21
6,001000003,00100140886,2025-02-28,01007,None,None,21
7,001000003,00100143199,2025-02-28,01007,None,None,21
8,001000003,00100139969,2025-02-28,01007,001001304,TTP (CLG) AMBRONAY,349
9,001000003,00100140209,2025-02-28,01007,None,None,21
10,001000003,00100139034,2025-02-28,01007,None,None,49
11,001000003,00100139393,2025-02-28,01007,None,None,21